@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Questrial', sans-serif;
  /* background-color: #fff; */
  height: 100vh;
  margin: 0;
}


.heading {
  height: 10vh;
  text-align: center;
  font-size: 40px;
  padding: 20px;
  background-color: #00796b;
  color: #fff;
}

.main-container {
  width: 100%;
  height: 90vh;
  padding: 0 100px;
  display: flex;
}

.video-container {
  width: 50%;
}

.video-container img {
  width: 100%;
  height: 70vh;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
  border-radius: 10px;
  position: relative;
  transform: translateY(18vh);
}

.other-container {
  width: 50%;
  height: 100%;
  /* border: 2px solid green; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.other-container span {
  font-size: 35px;
  margin-right: 10px;
}

.result-container {
  padding: 20px 0px;
}

.result {
  font-size: 40px;
  color: #00796b;
  font-weight: bolder;
}


.flip-btn {
  background: #00796b;
  color: #fff;
  padding: 20px 30px;
  font-size: 30px;
  border-radius: 50px;
  border: none;
  outline: none;
  border-bottom: 10px solid rgba(0, 0, 0, 0.836);
}

.flip-btn:active {
  margin-top: 7px;
  border-bottom: 3px solid black;
}