<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CoinFlipper</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/progress.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>

  <h1 class="heading">Coin Flipper</h1>
  <div class="main-container">

    <div class="video-container">
      <img src="{{ url_for('video_feed') }}" alt="Live-Stream" id="video">
    </div>

    <div class="other-container">
      <div class="result-container">
        <span id="result" class="result">Click to Flip</span>
      </div>
        <button onclick="Predict()" class="flip-btn">Flip</button>
    </div>
  </div>


  <script src="/static/js/script.js"></script>
</body>
</html>        


